.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #143217;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .register-form {
    background-color: #ffffff10;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .register-form h1 {
    margin-bottom: 20px;
  }
  
  .register-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
  }
  
  .register-form button {
    padding: 10px 20px;
    background-color: white;
    color: #143217;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .register-form button:hover {
    background-color: #143217;
    color: white;
  }
  
  .login-link {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  